<h1>{{title}}</h1>

<router-outlet></router-outlet>

<!--
<h2>My favorite hero is: {{myHero.str}}</h2>
<input type="text" [value]="myHero.str">
<input type="text" [(ngModel)]="myHero.str">
<input type="text" [value]="myHero.str" (input)="myHero.str=$event.target.value">
<button (click)="shiftHeroUp()"><</button>
<button (click)="shiftHeroDown()">></button>
<p>Heroes:</p>
<ul>
  <li *ngFor="let hero of heroes">
    {{ hero.str }}
    </li>
</ul>
<p *ngIf="heroes.length > 3">There are many heroes!</p>
-->

